/* your styles go here */

.table>tbody{
    vertical-align:middle;
}
.bg-black{
    background-color: black;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

/* Preview Image */
.img-container{
    width: 100%;
}
.measurements{
    padding-right: 0;
}


/* image upload */
/*just bg and body style*/
/* .container{
    background-color:#1E2832;
    padding-bottom:20px;
    margin-top:10px;
    border-radius:5px;
    } */
    .center{
    text-align:center;  
    }
    #top{
    margin-top:20px;  
    }
    /* .btn-container{
    background:#fff;
    border-radius:5px;
    padding-bottom:20px;
    margin-bottom:20px;
    } */
    .white{
    color:white;
    }
    .imgupload{
    color:#1E2832;
    padding-top:40px;
    font-size:7em;
    }
    #namefile{
    color:black;
    }
    h4>strong{
    color:#ff3f3f
    }
    .btn-primary{
    border-color: #ff3f3f !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ff3f3f !important;
    border-color: #ff3f3f !important;
    }
    
    /*these two are set to not display at start*/
    .imgupload.ok{
    display:none;
    color:green;
    }
    .imgupload.stop{
    display:none;
    color:red;
    }
    
    
    /*this sets the actual file input to overlay our button*/ 
     #fileup{
    
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    width:200px;
    cursor: pointer;
    left: 50%;
    bottom: 40px;
    height: 50px;
    }
    
    /*switch between input and not active input*/
    #submitbtn{
      padding:5px 50px;
      display:none;
    }
    #fakebtn{
      padding:5px 40px;
    } 
    
    .cup{
        cursor: pointer;
    }