<!--::footer_part start::-->
<footer class="footer_part">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Categories</h4>
                    <ul class="list-unstyled" id="footer-category">


                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="/users/wishlist">Wishlist</a></li>
                        <li><a href="/users/cart">Cart</a></li>
                        <li><a href="/users/user-profile">My Account</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li><a href="/contact">Contact</a></li>

                    </ul>
                </div>
            </div>

        </div>

    </div>
    <div class="copyright_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="copyright_text">
                        <P>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved</i> by <a
                                href="/" target="_blank">Furniture World</a>
                        </P>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
<!--::footer_part end::-->

<!-- jquery plugins here-->
<script src="/js/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="/js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- easing js -->
<script src="/js/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<script src="/js/swiper.min.js"></script>
<script src="/js/lightslider.min.js"></script>
<!-- swiper js -->
<script src="/js/masonry.pkgd.js"></script>
<!-- particles js -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<!-- slick js -->
<script src="/js/slick.min.js"></script>
<script src="/js/swiper.jquery.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/contact.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/stellar.js"></script>
<script src="/js/price_rangs.js"></script>
<!-- fetch -->
<script src="/js/fetch/fetch.js"></script>
<!-- custom js -->
<script src="/js/theme.js"></script>
<script src="/js/custom.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/2.2.3/jquery.elevatezoom.js"
    integrity="sha512-EjW7LChk2bIML+/kvj1NDrPSKHqfQ+zxJGBUKcopijd85cGwAX8ojz+781Rc0e7huwyI3j5Bn6rkctL3Gy61qw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
<script>
    const category = document.getElementById('footer-category');
    fetchCategory()
    function fetchCategory() {
        fetch("https://furnitureworld.site/users/all-categories")
            .then((res) => {
                return res.json()
            })
            .then((res) => {
                res.forEach((ele) => {

                    const option = `<li><a href="/users/store?category=${ele.category_name}">${ele.category_name.charAt(0).toUpperCase() + ele.category_name.substring(1).replaceAll("-", " ")}</a></li>`
                    category.insertAdjacentHTML("beforeend", option)
                })

            })
    }
</script>

</html>