<%- include('includes/users/head') %>
    <!--================login_part Area =================-->
    <section class="login_part pt-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>Doesn't have an account with us ?</h2>
                            <h2>Sign Up Now</h2>
                            <a href="/users/signup" class="btn_3">Sign Up</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Forget Password ?<br>
                                Try resetting now</h3>
                            <form class="row contact_form" action="/users/forget-password" method="post">


                                <div class="col-md-12 form-group p_star">
                                    <input type="email" class="form-control" id="email" name="email" value=""
                                        placeholder="Email Address" required>
                                </div>

                                <%if (typeof err!="undefined" && err) {%>
                                    <p class="text-danger text-center col-12 py-1">
                                        <%=err%>
                                    </p>
                                    <%}%>

                                        <div class="d-flex justify-content-center col-md-12">
                                            <button type="submit" value="submit" class="btn_3 col-md-6">
                                                Send Otp
                                            </button>
                                        </div>

                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--================login_part end =================-->