<%- include('includes/users/head') %>

<!--================verify-otp Area =================-->
<section class="login_part pt-5">
    <div class="container d-flex justify-content-center">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3 class="text-center">Reset Password</h3>
                        <form class="contact_form" action="/users/reset-password/" method="post">
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="verify-otp" name="verify_otp" value=""
                                    placeholder="Enter otp send to your email" required>
                                    
                            </div>

                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="password" name="password" value=""
                                    placeholder="Enter new password" required>
                                    
                            </div>
                            
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="confirm-password" name="confirm_password" value=""
                                    placeholder="Confirm new password" required>
                                    
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <button type="submit" value="verify" class="btn_3 col-6 mr-md-3 my-2 my-md-0">
                                    Reset Password
                                </button>
                            </div>                 
                                
                           
                            <%if (typeof err!="undefined" && err) {%>
                                <p class="text-danger text-center"><%=err%></p>
                               <%}%>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================verify-otp end =================-->
<%- include('includes/users/resend-otp') %>