<%- include('includes/users/head') %>
    <%- include('includes/users/header') %>
        <!--================Home Banner Area =================-->
        <!-- breadcrumb start-->


        <section class="breadcrumb breadcrumb_bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="breadcrumb_iner">
                            <div class="breadcrumb_iner_item">
                                <h2 id="category_name"></h2>
                                <p>Home <span>-</span><span class="text-capitalize" id="breadcrumb_url"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb start-->
        <!--================Category Product Area =================-->
        <section class="cat_product_area section_padding" id="product-list">
            <div class="container" id="main_container">
                <div class="row" id="product_wrapper">
                    <div class="col-lg-3">
                        <div class="left_sidebar_area">
                            <aside class="left_widgets p_filter_widgets">
                                <div class="l_w_title">
                                    <h3>Filter & Sort</h3>
                                </div>
                                <div class="widgets_inner">

                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <form id="filterSortForm">
                                                <div>
                                                    <label for="subCategoryFilter">Sub Category:</label>
                                                    <select id="subCategoryFilter" name="subCategoryFilter">
                                                        <option value="All" selected>All</option>


                                                    </select>
                                                </div>
                                                <div>
                                                    <label for="priceFilter">Price (₹):</label>
                                                    <select id="priceFilter" name="priceFilter">
                                                        <option value="0">All</option>
                                                        <option value="0-1000">0-1000</option>
                                                        <option value="1000-5000">1000-5000</option>
                                                        <option value="5000-10000">5000-10000</option>
                                                        <option value="10000">10000 Above</option>
                                                    </select>
                                                </div>
                                                <div>
                                                    <label for="sortBy">Sort By:</label>
                                                    <select id="sortBy" name="sortBy">
                                                        <option value="1">None</option>
                                                        <option value="1">Price (Ascending)</option>
                                                        <option value="-1">Price (Descending)</option>
                                                    </select>
                                                </div>
                                                <div>
                                                    <input type="submit" value="Filter & Sort" />
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>

                            </aside>


                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="product_top_bar d-flex justify-content-between align-items-center">
                                    <div class="single_product_menu">
                                        <div class="single_product_menu">

                                            <p><span id="total_count"> </span> Products Found</p>
                                        </div>

                                    </div>



                                </div>
                            </div>
                        </div>

                        <div class="row align-items-center latest_product_inner" id="products_container">

                            <!-- single product -->


                        </div>
                        <div class="col-lg-12">
                            <div class="pageination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center" id="pagination">

                                        <!-- pagination -->

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <script>

            const category_name = document.getElementById('category_name');
            const breadcrumb_url = document.getElementById('breadcrumb_url');
            const total_count = document.getElementById('total_count');
            let products_container = document.getElementById('products_container');
            let pagination = document.getElementById('pagination');
            const sub_category_options = document.getElementById('subCategoryFilter');
            let form = document.getElementById("filterSortForm");
            const product_wrapper = document.getElementById('product_wrapper');
            const main_container = document.getElementById('main_container');

            form.addEventListener("submit", event => {
                event.preventDefault();

                let formData = new FormData(form);
                let data = Object.fromEntries(formData);
                let sub = data.subCategoryFilter.replaceAll(" ", "-");
                fetchAllProducts(sub, data.priceFilter, data.sortBy)
            });


            fetchAllProducts();
            allSubCategories()

            // fetching all products on page
            function fetchAllProducts(sub, pr, sort, page) {
                let params = new URLSearchParams(window.location.search);
                let category = params.get('category');
                let search_key = params.get('search_key')
                var subcat = sub;
                var price = pr;
                var sorBy = sort;
                var p = page;

                fetch(`https://furnitureworld.site/users/store/${category}?sub=${sub}&sort=${sort}&p=${page}&price=${pr}&search_key=${search_key}`, {
                    method: "GET"
                })
                    .then((response) => {
                        return response.json()
                    })
                    .then((data) => {
                        if (data == false) {
                            total_count.innerHTML = 0;
                            product_wrapper.innerHTML = ""
                            main_container.innerHTML =
                                `
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                    <div class="image-container d-flex justify-content-center align-items-center w-100">
                                        <img src="/img/noproduct.jpg" class="w-50" alt="No Products Found" srcset="">  
                                    </div>
                                    <p class="fw-bold fs-4 text-center">Oh, No products found for this match</p>
                                    <button class="btn col-lg-2 col-4 text-center text-white" style="background-color:#f13d80" onclick="reload()">Go to Home</button>
                            </div>
                    `
                        }

                        // updating breadcrumb and total products
                        category_name.innerText = data.category.replaceAll("-", " ");
                        breadcrumb_url.innerText = data.category.replaceAll("-", " ");
                        total_count.innerText = data.totalProducts.totalCount;

                        products_container.innerHTML = ""
                        pagination.innerHTML = " "
                        //looping the products
                        data.products.forEach((prdct) => {
                            let product_name = prdct.product_name[0].toUpperCase() + prdct.product_name.substring(1)
                            let single_product = `
                    <div class="col-lg-4 col-sm-6" >
                        <div class="single_product_item">
                                    <a href="/users/view-product/${prdct._id}">
                                        <img id="product_image" src="${prdct.images[0].URL}" alt="">
                                    </a>
                                    
                                    <div class="single_product_text">
                                        <h4 id="product_name">${product_name}</h4>
                                        <div class="d-flex">
                                            <s><h3 id="sale_price" class="text-muted" >₹ ${prdct.price}</h3></s>
                                             <h3 id="sale_price">₹ ${prdct.sale_price}</h3>
                                        </div>
                                        
                                        <div class="d-flex justify-content-between">
                                            <a href='https://furnitureworld.site/users/view-product/${prdct._id}' id="view_product">View Product
                                                <a id="wishlist+${prdct._id}" class="wishlist"></a>
                                            </a>
                                          
                                        </div>
                                        
                                    </div>
                        </div>
                    </div>
                    `





                            // update product if item exist in wishlist 
                            products_container.insertAdjacentHTML("beforeend", single_product)
                            if (prdct.wishlist == true) {
                                document.getElementById(`wishlist+${prdct._id}`).innerHTML = `
                        <i class="fa-solid fa-heart add-wishlist text-danger" style="cursor:pointer" id="${prdct._id}" onclick="removeWishlist('${prdct._id}')"></i>`

                            } else {
                                document.getElementById(`wishlist+${prdct._id}`).innerHTML = `
                        <i class="fa-regular fa-heart add-wishlist" style="cursor:pointer" id="${prdct._id}" onclick="addToWishlist('${prdct._id}')"></i>`
                            }

                        })

                        //updating pagination

                        for (let i = 1; i <= data.lastPage; i++) {
                            let page = `<li class="page-item"><a class="page-link" id="page-number-${i}"  onclick="fetchAllProducts('${subcat}','${price}','${sorBy}','${i}')" style="cursor:pointer">${i}</a></li>`
                            pagination.insertAdjacentHTML("beforeend", page)
                        }

                        document.getElementById(`page-number-${data.currentPage}`).style.color = "#F13D80";
                        if (data.lastPage > 2 && data.currentPage !== data.lastPage) {
                            let nextpageIcon =
                                `
                        <a class="page-link" style="cursor:pointer" aria-label="Next">
                            <i class="ti-angle-double-right" onclick="fetchAllProducts('${subcat}','${price}','${sorBy}','${data.currentPage + 1}}')"></i>
                        </a>
                    `
                            pagination.insertAdjacentHTML("beforeend", nextpageIcon)
                        }
                        if (data.currentPage > 1) {
                            let previouspageIcon =
                                `
                        <a class="page-link" style="cursor:pointer"  aria-label="Next">
                            <i class="ti-angle-double-left" onclick="fetchAllProducts('${subcat}','${price}','${sorBy}','${data.currentPage - 1}}')"></i>
                        </a>
                    `
                            pagination.insertAdjacentHTML("afterbegin", previouspageIcon)
                        }

                        // pagination ends
                    })


            }
            function reload() {
                location.href = "/"
            }

            function allSubCategories() {
                let params = new URLSearchParams(window.location.search);
                let category = params.get('category');
                fetch(`https://furnitureworld.site/users/store/${category}?sub=undefined&sort=undefined&p=undefined&price=undefined&search_key=null`, {
                    method: "GET"
                })
                    .then((response) => {
                        return response.json()
                    })
                    .then((data) => {

                        // updating sub categories

                        data.allSubCategories.forEach((subcat) => {
                            let option = document.createElement('option')
                            option.innerHTML = `
                        <option id="${subcat.sub_category_name}" name="sub_category" value="${subcat.sub_category_name}">${subcat.sub_category_name.replaceAll("-", " ")}</option>`
                            sub_category_options.appendChild(option)
                        })
                    })
            }

            function addToWishlist(id) {
                fetch(`https://furnitureworld.site/users/add-to-wishlist/${id}`)
                    .then((response) => {
                        return response.json()
                    })
                    .then((data) => {

                        if (data == true) {
                            let wishlist = document.getElementById(id);
                            wishlist.classList.add('text-danger');
                            wishlist.classList.add('fa-solid');
                            wishlist.classList.remove('fa-regular');
                            wishlist.setAttribute("onclick", `removeWishlist("${id}")`);
                        }
                    })
                    .catch((err) => {

                        window.location.href = "https://furnitureworld.site/users/signin"
                    })

            }

            function removeWishlist(id) {
                fetch(`https://furnitureworld.site/users/remove-wishlist-item/${id}`, {
                    method: "PUT"
                })
                    .then((response) => {
                        return response.json()
                    })
                    .then((data) => {
                        if (data == true) {

                            let wishlist = document.getElementById(id);
                            wishlist.classList.remove('text-danger');
                            wishlist.classList.remove('fa-solid');
                            wishlist.classList.add('fa-regular');
                            wishlist.setAttribute("onclick", `addToWishlist("${id}")`);
                        }
                    })
                    .catch((err) => {

                        window.location.href = "https://furnitureworld.site/users/signin";
                    })
            }


        </script>

        <%- include('includes/users/footer') %>